.pie-menu--selectable {
    fill: rgba(0, 0, 0, 0);
    cursor: pointer;

    &:hover {
        fill: rgba(0, 255, 169, 0.44);
    }
}

.spring-forth {
    animation: spring-forth 0.1s forward;
}

@keyframes spring-forth {
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}
